<ion-header>
	<ion-navbar>
		<ion-title>BLE Timer</ion-title>
		<ion-buttons end>
			<button ion-button color="{{scanColor}}" (click)="scan()">				
        {{scanText}}
      </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding style="background-image: url('assets/img/backgroundimage.jpg');background-size: cover;">
<ion-card *ngFor="let timer of timers">
	<img src="{{ timer.Image }}" (click)="takePicture(timer)" class="thumbnail"/>
	<ion-card-content (click)="goToValves(timer.timerModel, timer.timerId)">
		<ion-card-title>
			{{timer.timerModel}}
		</ion-card-title>
		<p>Id : {{timer.timerId}}</p>	
	</ion-card-content>
</ion-card>
	<!--<ion-list class="no-padding">
		<ion-item *ngFor="let timer of timers">
			<ion-row>
				<ion-col col-75 class="no-padding">
					<img src="{{ timer.Image }}" (click)="takePicture(timer)" class="thumbnail"/>
				</ion-col>
				<ion-col col-25 (click)="goToValves(timer.timerModel, timer.timerId)" class="no-padding">
					<div style="height: 100%; text-align: center;">
						<h2>{{timer.timerModel}}</h2>
						<p>Id : {{timer.timerId}}</p>
					</div>
				</ion-col>
			</ion-row>
		</ion-item>
	</ion-list>-->
</ion-content>