<ion-header>
	<ion-navbar>
		<ion-title>{{timerId}},Zone{{zoneId}}</ion-title>
	</ion-navbar>

	<ion-toolbar no-border-top full transparent>
		<ion-row>
			<ion-col class="nopadding">
				<button ion-button small full color='{{weekdays[0].color}}' (click)='weekdayBtnClicked(0)'>SU</button>
			</ion-col>
			<ion-col class="nopadding">
				<button ion-button small full color='{{weekdays[1].color}}' (click)='weekdayBtnClicked(1)'>MO</button>
			</ion-col>
			<ion-col class="nopadding">
				<button ion-button small full color='{{weekdays[2].color}}' (click)='weekdayBtnClicked(2)'>TU</button>
			</ion-col>
			<ion-col class="nopadding">
				<button ion-button small full color='{{weekdays[3].color}}' (click)='weekdayBtnClicked(3)'>WE</button>
			</ion-col>
			<ion-col class="nopadding">
				<button ion-button small full color='{{weekdays[4].color}}' (click)='weekdayBtnClicked(4)'>TH</button>
			</ion-col>
			<ion-col class="nopadding">
				<button ion-button small full color='{{weekdays[5].color}}' (click)='weekdayBtnClicked(5)'>FR</button>
			</ion-col>
			<ion-col class="nopadding">
				<button ion-button small full color='{{weekdays[6].color}}' (click)='weekdayBtnClicked(6)'>SA</button>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label>Start Time</ion-label>
			<ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="startTime"></ion-datetime>
		</ion-item>

		<ion-item>
			<ion-label>Water For</ion-label>
			<ion-select [(ngModel)]="waterForSelected">
				<ion-option *ngFor="let waterFor of waterForList">{{waterFor.item}}</ion-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-toggle [(ngModel)]="ecoIsEnable" checked="false"></ion-toggle>
			<ion-label>
				ECO Function
			</ion-label>
		</ion-item>

		<ion-item>
			<ion-label>ECO Water For</ion-label>
			<ion-select [(ngModel)]="ecoWaterForSelected">
				<ion-option *ngFor="let ecoWaterFor of ecoWaterForList">{{ecoWaterFor.item}}</ion-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label>ECO Water Every</ion-label>
			<ion-select [(ngModel)]="ecoPauseSelected">
				<ion-option *ngFor="let ecoPause of ecoPauseList">{{ecoPause.item}}</ion-option>
			</ion-select>
		</ion-item>

	</ion-list>
</ion-content>

<ion-footer>
	<ion-row>
		<ion-col col-50>
			<button ion-button color="danger" (click)="cancelClicked()" full>CANCEL</button>
		</ion-col>
		<ion-col col-50>
			<button ion-button color="secondary" (click)="saveClicked()" full>SAVE</button>
		</ion-col>
	</ion-row>
</ion-footer>