<ion-header>
	<ion-navbar>
		<ion-title>{{timerModel}}, Zone{{zoneId}}{{cycleId}}</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding style="background-image: url('assets/img/backgroundimage.jpg');background-size: cover;">
<ion-toolbar no-border-top full transparent>
	<ion-row>
		<ion-col class="nopadding">
			<img src="{{weekdays[0].img}}" style="width : 100% ; height : 100%" (click)="weekdayBtnClicked(0)">
</ion-col>
<ion-col class="nopadding">
	<img src="{{weekdays[1].img}}" style="width : 100% ; height : 100%" (click)="weekdayBtnClicked(1)">
</ion-col>
<ion-col class="nopadding">
	<img src="{{weekdays[2].img}}" style="width : 100% ; height : 100%" (click)="weekdayBtnClicked(2)">
</ion-col>
<ion-col class="nopadding">
	<img src="{{weekdays[3].img}}" style="width : 100% ; height : 100%" (click)="weekdayBtnClicked(3)">
</ion-col>
<ion-col class="nopadding">
	<img src="{{weekdays[4].img}}" style="width : 100% ; height : 100%" (click)="weekdayBtnClicked(4)">
</ion-col>
<ion-col class="nopadding">
	<img src="{{weekdays[5].img}}" style="width : 100% ; height : 100%" (click)="weekdayBtnClicked(5)">
</ion-col>
<ion-col class="nopadding">
	<img src="{{weekdays[6].img}}" style="width : 100% ; height : 100%" (click)="weekdayBtnClicked(6)">
</ion-col>
</ion-row>
</ion-toolbar>
<ion-list>
	<ion-item>
		<ion-label>Start Time</ion-label>
		<ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="startTime"></ion-datetime>
	</ion-item>

	<ion-item>
		<ion-label>Water For</ion-label>
		<ion-select [(ngModel)]="waterForSelected">
			<ion-option *ngFor="let waterFor of waterForList">{{waterFor.item}}</ion-option>
		</ion-select>
	</ion-item>
	<div *ngIf="ecoFunction">
		<ion-item>
			<ion-label>ECO Function</ion-label>
			<ion-toggle [(ngModel)]="ecoIsEnable" checked="false"></ion-toggle>
		</ion-item>

		<ion-item>
			<ion-label>ECO Water For</ion-label>
			<ion-select [(ngModel)]="ecoWaterForSelected">
				<ion-option *ngFor="let ecoWaterFor of ecoWaterForList">{{ecoWaterFor.item}}</ion-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label>ECO Water Every</ion-label>
			<ion-select [(ngModel)]="ecoPauseSelected">
				<ion-option *ngFor="let ecoPause of ecoPauseList">{{ecoPause.item}}</ion-option>
			</ion-select>
		</ion-item>
	</div>
	<div *ngIf="sensorFunction">
		<ion-item>
			<ion-row>
				<ion-col class="nopadding" width-33>
					<ion-label>Moist</ion-label>
				</ion-col>
				<ion-col width-67>
					<ion-row>
						<ion-col width-20>
							<img src="{{sensorMoistList[0].img}}" style="width : 100% ; height : 100%" (click)="mostBtnClicked(0)">
						</ion-col>
						<ion-col width-20>
							<img src="{{sensorMoistList[1].img}}" style="width : 100% ; height : 100%" (click)="mostBtnClicked(1)">
						</ion-col>
						<ion-col width-20>
							<img src="{{sensorMoistList[2].img}}" style="width : 100% ; height : 100%" (click)="mostBtnClicked(2)">
						</ion-col>
						<ion-col width-20>
							<img src="{{sensorMoistList[3].img}}" style="width : 100% ; height : 100%" (click)="mostBtnClicked(3)">
						</ion-col>
						<ion-col width-20>
							<img src="{{sensorMoistList[4].img}}" style="width : 100% ; height : 100%" (click)="mostBtnClicked(4)">
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-item>
			<!--<ion-item>
				<ion-label>Moist Sensor</ion-label>
				<ion-range min="1" max="5" step="1" snaps="true" pin="true" [(ngModel)]="moistSelected" color="primary">
					<ion-icon range-left small color="primary" name="ios-water"></ion-icon>
					<ion-icon range-right color="primary" name="ios-water"></ion-icon>
				</ion-range>
			</ion-item>-->

</div>
</ion-list>
</ion-content>

<ion-footer>
	<ion-row>
		<ion-col col-50>
			<button ion-button color="danger" (click)="cancelClicked()" full>
				<ion-icon name="md-close"></ion-icon></button>
		</ion-col>
		<ion-col col-50>
			<button ion-button color="secondary" (click)="saveClicked()" full>
				<ion-icon name="md-checkmark"></ion-icon></button>
		</ion-col>
	</ion-row>
</ion-footer>