<ion-header>
	<ion-navbar>
		<ion-title>{{timerModel}}, Zone{{zoneId}}{{cycleId}}</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding style="background-image: url('assets/img/backgroundimage.jpg');background-size: cover;">
	<ion-toolbar no-border-top full transparent>
		<ion-row>
			<ion-col class="nopadding">
				<img src="{{weekdays[0].img}}" style="width : 100% ; height : 100%" (click)="weekdayBtnClicked(0)">
			</ion-col>
			<ion-col class="nopadding">
				<img src="{{weekdays[1].img}}" style="width : 100% ; height : 100%" (click)="weekdayBtnClicked(1)">
			</ion-col>
			<ion-col class="nopadding">
				<img src="{{weekdays[2].img}}" style="width : 100% ; height : 100%" (click)="weekdayBtnClicked(2)">
			</ion-col>
			<ion-col class="nopadding">
				<img src="{{weekdays[3].img}}" style="width : 100% ; height : 100%" (click)="weekdayBtnClicked(3)">
			</ion-col>
			<ion-col class="nopadding">
				<img src="{{weekdays[4].img}}" style="width : 100% ; height : 100%" (click)="weekdayBtnClicked(4)">
			</ion-col>
			<ion-col class="nopadding">
				<img src="{{weekdays[5].img}}" style="width : 100% ; height : 100%" (click)="weekdayBtnClicked(5)">
			</ion-col>
			<ion-col class="nopadding">
				<img src="{{weekdays[6].img}}" style="width : 100% ; height : 100%" (click)="weekdayBtnClicked(6)">
			</ion-col>
		</ion-row>
	</ion-toolbar>
	<ion-list>
		<ion-item>
			<ion-label>Start Time</ion-label>
			<ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="startTime"></ion-datetime>
		</ion-item>

		<ion-item>
			<ion-label>Water For</ion-label>
			<ion-select [(ngModel)]="waterForSelected">
				<ion-option *ngFor="let waterFor of waterForList">{{waterFor.item}}</ion-option>
			</ion-select>
		</ion-item>
		<div *ngIf="ecoFunction">
			<ion-item>
				<ion-label>ECO Function</ion-label>
				<ion-toggle [(ngModel)]="ecoIsEnable" checked="false"></ion-toggle>
			</ion-item>

			<ion-item>
				<ion-label>ECO Water For</ion-label>
				<ion-select [(ngModel)]="ecoWaterForSelected">
					<ion-option *ngFor="let ecoWaterFor of ecoWaterForList">{{ecoWaterFor.item}}</ion-option>
				</ion-select>
			</ion-item>

			<ion-item>
				<ion-label>ECO Water Every</ion-label>
				<ion-select [(ngModel)]="ecoPauseSelected">
					<ion-option *ngFor="let ecoPause of ecoPauseList">{{ecoPause.item}}</ion-option>
				</ion-select>
			</ion-item>
		</div>
		<div *ngIf="sensorFunction">
			<ion-item>
				<ion-label>Sensor</ion-label>
				<ion-select [(ngModel)]="moistSelected">
					<ion-option *ngFor="let moist of sensorMoistList">{{moist.item}}</ion-option>
				</ion-select>
			</ion-item>
		</div>
	</ion-list>
</ion-content>

<ion-footer>
	<ion-row>
		<ion-col col-50>
			<button ion-button color="danger" (click)="cancelClicked()" full>CANCEL</button>
		</ion-col>
		<ion-col col-50>
			<button ion-button color="secondary" (click)="saveClicked()" full>SAVE</button>
		</ion-col>
	</ion-row>
</ion-footer>